
body {
    font-family: 'Arial', sans-serif;
    background-color: #1C1C1C; 
    margin: 0;
    padding: 0;
    color: #fff; 
  }
  
  h1, h2 {
    color: #fff;
    text-align: center;
  }
  
  
  .login-container,
  .cadastro-container {
    background-color: #333; 
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #E74C3C; 
    margin-bottom: 20px;
  }
  
  h1.logo {
    color: #E74C3C; 
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    color: #fff; 
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #444; 
    color: #fff; 
    transition: all 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  select:focus {
    border-color: #E74C3C;
    outline: none;
  }
  
  button {
    padding: 12px;
    font-size: 16px;
    background-color: #E74C3C;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #C0392B; 
  }
  
  
  .cadastro-link {
    text-align: center;
    font-size: 14px;
    color: #fff; 
  }
  
  .cadastro-link a {
    color: #E74C3C; 
  }
  
  .cadastro-link a:hover {
    text-decoration: underline;
  }
  
  #mensagem {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #d9534f;
  }
  